.navbar {
  background: rgb(255, 127, 127);
  background: linear-gradient(
    90deg,
    rgba(255, 127, 127, 1) 0%,
    rgba(255, 120, 197, 1) 11%,
    rgba(255, 127, 250, 1) 21%,
    rgba(206, 135, 255, 1) 30%,
    rgba(143, 140, 255, 1) 40%,
    rgba(134, 227, 255, 1) 50%,
    rgba(135, 255, 248, 1) 59%,
    rgba(130, 255, 172, 1) 69%,
    rgba(187, 255, 162, 1) 79%,
    rgba(252, 255, 147, 1) 89%,
    rgba(255, 207, 115, 1) 100%
  );
  font-size: 1.5rem !important;
}
.footer {
  background: rgb(255, 127, 127);
  background: linear-gradient(
    90deg,
    rgba(255, 127, 127, 1) 0%,
    rgba(255, 120, 197, 1) 11%,
    rgba(255, 127, 250, 1) 21%,
    rgba(206, 135, 255, 1) 30%,
    rgba(143, 140, 255, 1) 40%,
    rgba(134, 227, 255, 1) 50%,
    rgba(135, 255, 248, 1) 59%,
    rgba(130, 255, 172, 1) 69%,
    rgba(187, 255, 162, 1) 79%,
    rgba(252, 255, 147, 1) 89%,
    rgba(255, 207, 115, 1) 100%
  );
  font-size: 1.5rem !important;
}
